
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-log-in-X46 {
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-right: 13.699rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .aside-dsp {
    margin-right: 13rem;
    height: 95rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-orhu-zCa {
      margin-right: 0.0027rem;
      box-sizing: border-box;
      padding: 3.4rem 0rem 0.55rem 0rem;
      width: 71.7973rem;
      height: 100%;
      background-color: #d1d1e0;
      flex-shrink: 0;

      .auto-group-4vby-VQE {
        display: flex;
        flex-direction: column;
        margin: 0rem 14.497rem 44.6rem 0rem;
        box-sizing: border-box;
        padding-left: 3rem;
        align-items: center;

        .b3ea9cbd6ca10a3d7766e6d2bc4cadd4-2-Qn6 {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 41.3rem 9.5rem 0rem;
          width: 13rem;
          height: 12.4rem;
          object-fit: cover;
        }
        .welcome-back-W4S {
          line-height: 1.2;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 1.8rem 4rem 0rem;
          font-size: 4rem;
          font-weight: 700;
          letter-spacing: -0.04rem;
          color: #2f1155;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-vulputate-ut-laoreet-velit-ma-Ptv {
          flex-shrink: 0;
          margin-left: 12.8rem;
          max-width: 41.5rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.6666666667;
          color: #2f1155;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
      .auto-group-d9ar-HUW {
        width: 28rem;
        height: 9.75rem;
      }
    }
    .divider-vertical-pDY {
      width: 0.1rem;
      height: 95rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-p55t-Lxa {
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 1.1rem;
    width: 45.401rem;
    align-items: center;
    display: flex;

    .bienvenido-a-el-buho-de-bolsillo-fzr {
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      line-height: 1.1725;
      color: #2f1155;
      letter-spacing: 0.012rem;
      font-family: Roboto, 'Source Sans Pro';
      margin: 0rem 0.001rem 10.4rem 0rem;
      font-size: 2.4rem;
      font-weight: 500;
    }
    .auto-group-pnan-N8a {
      margin: 0rem 0rem 5.367rem 4.1rem;
      width: calc(100% - 4.1rem);
      height: 9.0332rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .registrate-con-hAr {
        font-size: 1.3rem;
        letter-spacing: 0.0065rem;
        color: #2f1155;
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-weight: 500;
        line-height: 1.1725;
        font-family: Roboto, 'Source Sans Pro';
        margin: 0rem 0.5rem 0.433rem 0rem;
      }
      .google-sign-in-option-CNW {
        padding: 2.663rem 8.417rem 2.696rem 2.125rem;
        height: 100%;
        display: flex;
        align-items: center;
        box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.1000000015);
        border-radius: 1.5rem;
        box-sizing: border-box;
        background-color: #3c9cd5;
        flex-shrink: 0;

        .google-KCE {
          height: 3.675rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 5.1084rem;
          width: 4.5501rem;
        }
        .google-account-TJS {
          margin-bottom: 0.9807rem;
          text-align: center;
          line-height: 1.1725;
          color: #2f1155;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          letter-spacing: 0.008rem;
          white-space: nowrap;
        }
      }
    }
    .frame-15-XZC {
      padding: 2.75rem 31.6rem 2.75rem 2rem;
      display: flex;
      background-color: rgba(19, 1, 56, 0.5);
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin: 0rem 0.001rem 5.3rem 0rem;
      box-sizing: border-box;
      width: calc(100% - 0.001rem);
      align-items: center;

      .vuesax-linear-profile-3XY {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2rem;
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
      }
      .username-nEE {
        font-weight: 500;
        line-height: 1.1725;
        letter-spacing: 0.008rem;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
    }
    .frame-17-5UE {
      width: calc(100% - 0.001rem);
      display: flex;
      align-items: center;
      background-color: rgba(19, 1, 56, 0.5);
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin: 0rem 0.001rem 5.4rem 0rem;
      box-sizing: border-box;
      padding: 2.75rem 4.9rem 2.75rem 2rem;

      .vuesax-linear-key-square-BnA {
        margin-right: 2rem;
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .password-KtN {
        margin-right: 25.1rem;
        font-weight: 500;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.6rem;
        line-height: 1.1725;
        letter-spacing: 0.008rem;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .coco-line-eye-slash-rNW {
        margin-bottom: 0.3rem;
        width: 1.8rem;
        height: 1.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .frame-19-mEa {
      height: 9.2rem;
      font-size: 1.8rem;
      font-weight: 700;
      color: #2f1155;
      cursor: pointer;
      justify-content: center;
      border-radius: 1.5rem;
      width: calc(100% - 17.101rem);
      text-align: center;
      font-family: Quicksand, 'Source Sans Pro';
      background-color: #3c9cd5;
      flex-shrink: 0;
      margin: 0rem 8.501rem 6.3rem 8.6rem;
      line-height: 1.25;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }
    .no-tienes-una-cuenta-registrate-R4E {
      letter-spacing: 0.01rem;
      color: #130138;
      white-space: nowrap;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 500;
      flex-shrink: 0;
      margin-right: 4.901rem;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
    }
  }
}
