
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.gasto-ingreso-gVG {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #d1d1e0;

  .auto-group-eqe6-prN {
    width: 145.3rem;
    height: 11.7rem;
    position: relative;
    flex-shrink: 0;

    .nav-AvE {
      height: 0.1rem;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      background-color: #fbfcfc;
      width: 144rem;

      .divider-v8i {
        height: 100%;
        overflow: hidden;
        position: relative;
        background-color: #e6e8eb;
        width: 100%;
      }
    }
    .nav-s3x {
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      background-color: #fbfcfc;
      width: 144rem;
      height: 0.1rem;

      .divider-1vr {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        background-color: #e6e8eb;
      }
    }
    .nav-NmQ {
      box-sizing: border-box;
      width: 144rem;
      top: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      background-color: #fbfcfc;
      padding-bottom: 2rem;
      height: 11.7rem;
      position: absolute;
      left: 0;
      align-items: center;

      .divider-i4a {
        position: relative;
        background-color: #e6e8eb;
        flex-shrink: 0;
        margin-bottom: 2rem;
        width: 100%;
        height: 0.1rem;
        overflow: hidden;
      }
      .nav-content-FaJ {
        align-items: center;
        flex-shrink: 0;
        margin: 0 16rem;
        width: calc(100% - 32rem);
        height: 7.6rem;
        display: flex;

        .left-content-PgW {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 47.1rem;

          .b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-dKx {
            flex-shrink: 0;
            width: 7.6rem;
            height: 7.6rem;
            cursor: pointer;
            object-fit: cover;
            vertical-align: top;
          }
          .auto-group-8dmk-kfU {
            box-sizing: border-box;
            padding: 1.8rem 0rem 1.8rem 3.2rem;
            height: 100%;
            display: flex;
            column-gap: 3.2rem;
            align-items: center;
            flex-shrink: 0;

            .divider-Gti {
              flex-shrink: 0;
              width: 0.2rem;
              height: 100%;
              overflow: hidden;
              position: relative;
              background-color: #a8aaae;
              border-radius: 0.2rem;
            }
            .home-chg {
              line-height: 1;
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
              font-size: 1.6rem;
              color: #2f1155;
              font-family: Roboto, 'Source Sans Pro';
              text-align: center;
              font-weight: 700;
            }
            .estadisticas-Xpe {
              font-size: 1.6rem;
              color: #2f1155;
              flex-shrink: 0;
              cursor: pointer;
              text-align: center;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              font-weight: 700;
              line-height: 1;
            }
            .notificaciones-55U {
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              cursor: pointer;
              text-align: center;
              font-size: 1.6rem;
              white-space: nowrap;
              font-weight: 700;
              line-height: 1;
              color: #2f1155;
            }
            .ajustes-QdY {
              text-align: center;
              font-size: 1.6rem;
              color: #2f1155;
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
              font-weight: 700;
              line-height: 1;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
        }
        .frame-1022-Yjk {
          cursor: pointer;
          flex-shrink: 0;
          margin: 0.8rem 0;
          width: 12rem;
          height: calc(100% - 1.6rem);

          .frame-19-toc {
            height: 100%;
            background-color: #3c9cd5;
            border-radius: 1.5rem;
            box-sizing: border-box;
            padding: 0.9rem 3.2rem 0.8rem 3.2rem;
            width: 100%;

            .cerrar-sesion-2ev {
              color: #2f1155;
              font-family: Roboto, 'Source Sans Pro';
              max-width: 5.6rem;
              text-align: center;
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.1725;
            }
          }
        }
      }
    }
  }
  .checkout-things-to-do-jZL {
    padding: 8.2rem 17.7rem 0rem 15.6rem;
    width: 144.3rem;
    height: 124.4rem;
    background-color: #d1d1e0;
    flex-shrink: 0;
    box-sizing: border-box;

    .confirm-and-pay-3pv {
      width: 100%;
      height: 100%;
      position: relative;
      background-color: #d1d1e0;

      .ingreso-o-gasto-1Fx {
        font-family: DM Sans, 'Source Sans Pro';
        width: 34.3rem;
        font-weight: 700;
        left: 0;
        top: 0;
        font-size: 4.8rem;
        line-height: 1.1666666667;
        letter-spacing: -0.096rem;
        color: #2f1155;
        height: 5.6rem;
        position: absolute;
        white-space: nowrap;
      }
      .divider-WTc {
        background-color: #e6e8eb;
        width: 111rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 8.8rem;
        overflow: hidden;
      }
      .auto-group-zrbp-epi {
        left: 0;
        top: 12.1rem;
        box-sizing: border-box;
        padding-top: 6.4rem;
        width: 111rem;
        height: 34.4rem;
        position: absolute;

        .frame-832-PXQ {
          row-gap: 3.2rem;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;

          .simple-input-iZg {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .cantidad-H6z {
              white-space: nowrap;
              flex-shrink: 0;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1;
              text-transform: uppercase;
              color: #2f1155;
              margin-bottom: 1.2rem;
            }
            .single-input-field-bNa {
              box-sizing: border-box;
              padding: 1.2rem 1.6rem;
              border: solid 0.2rem #130138;
              background-color: rgba(19, 1, 56, 0.5);
              border-radius: 1.2rem;
              flex-shrink: 0;
              width: 100%;
              height: 4.8rem;
              overflow: hidden;
              position: relative;

              .frame-827-8NW {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                padding-right: 0.6rem;

                .frame-826-sqt {
                  flex-shrink: 0;
                  margin-right: 90.3rem;
                  height: 100%;
                  display: flex;
                  align-items: center;

                  .item-9999999999990000-qGv {
                    display: flex;
                    font-weight: 500;
                    color: #ffffff;
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-right: 1rem;
                    font-size: 1.4rem;
                    line-height: 1.7142857143;
                    font-family: Poppins, 'Source Sans Pro';
                  }
                  .cursor-ken {
                    border-radius: 10rem;
                    flex-shrink: 0;
                    width: 0.1rem;
                    height: 2.4rem;
                    background-color: #ffffff;
                  }
                }
                .icons-check-line-goL {
                  width: 1.2rem;
                  height: 0.8rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
          }
          .simple-input-zJE {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .tipo-de-gasto-o-ingreso-kHQ {
              flex-shrink: 0;
              margin-bottom: 1.2rem;
              font-size: 1.2rem;
              text-transform: uppercase;
              font-family: Poppins, 'Source Sans Pro';
              font-weight: 700;
              line-height: 1;
              color: #2f1155;
              white-space: nowrap;
            }
            .single-input-field-GWe {
              display: flex;
              border: solid 0.2rem #130138;
              border-radius: 1.2rem;
              width: 100%;
              position: relative;
              font-size: 1.4rem;
              flex-shrink: 0;
              padding: 1.2rem 1.6rem;
              overflow: hidden;
              color: #ffffff;
              box-sizing: border-box;
              line-height: 1.7142857143;
              white-space: nowrap;
              background-color: rgba(19, 1, 56, 0.5);
              font-weight: 500;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .simple-input-jv2 {
            width: 30.8rem;
            flex-shrink: 0;

            .expiration-date-JTL {
              line-height: 1;
              text-transform: uppercase;
              color: #2f1155;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1.2rem;
              font-size: 1.2rem;
              font-weight: 700;
            }
            .single-input-field-S3k {
              overflow: hidden;
              position: relative;
              display: flex;
              white-space: nowrap;
              background-color: rgba(19, 1, 56, 0.5);
              line-height: 1.7142857143;
              border: solid 0.2rem #130138;
              border-radius: 1.2rem;
              padding: 1.2rem 1.6rem;
              font-size: 1.4rem;
              color: #eeeeee;
              box-sizing: border-box;
              width: 100%;
              font-weight: 500;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
        }
      }
      .auto-group-rdhc-iGA {
        width: 111rem;
        height: 69.7rem;
        position: absolute;
        left: 0;
        top: 46.5rem;
      }
    }
  }
}
