
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.gasto-deducido-rBc {
  box-sizing: border-box;
  padding-bottom: 34rem;
  position: relative;
  align-items: center;
  display: flex;
  background-color: #d1d1e0;
  width: 100%;
  overflow: hidden;
  flex-direction: column;

  .auto-group-fvjt-nqx {
    height: 171.8rem;
    flex-shrink: 0;
    margin-bottom: 22.3rem;
    box-sizing: border-box;
    padding-top: 160.1rem;
    width: 100%;

    .nav-vxA {
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #fbfcfc;
      box-sizing: border-box;
      padding-bottom: 2rem;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;

      .divider-UTt {
        height: 0.1rem;
        overflow: hidden;
        position: relative;
        background-color: #e6e8eb;
        flex-shrink: 0;
        margin-bottom: 2rem;
        width: 100%;
      }
      .nav-content-R8E {
        margin: 0 16rem;
        width: calc(100% - 32rem);
        height: 7.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .left-content-mC6 {
          margin-right: 47.1rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-KUW {
            vertical-align: top;
            flex-shrink: 0;
            width: 7.6rem;
            height: 7.6rem;
            cursor: pointer;
            object-fit: cover;
          }
          .auto-group-ewq6-Sp2 {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.8rem 0rem 1.8rem 3.2rem;
            height: 100%;
            display: flex;
            column-gap: 3.2rem;
            align-items: center;

            .divider-y3G {
              overflow: hidden;
              position: relative;
              background-color: #a8aaae;
              border-radius: 0.2rem;
              flex-shrink: 0;
              width: 0.2rem;
              height: 100%;
            }
            .home-K78 {
              font-size: 1.6rem;
              color: #2f1155;
              font-family: Roboto, 'Source Sans Pro';
              line-height: 1;
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
              text-align: center;
              font-weight: 700;
            }
            .estadisticas-SxS {
              cursor: pointer;
              line-height: 1;
              font-family: Roboto, 'Source Sans Pro';
              text-align: center;
              font-size: 1.6rem;
              font-weight: 700;
              color: #2f1155;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .notificaciones-Bf8 {
              text-align: center;
              color: #2f1155;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              cursor: pointer;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1;
              flex-shrink: 0;
            }
            .ajustes-8KU {
              text-align: center;
              font-size: 1.6rem;
              font-weight: 700;
              color: #2f1155;
              white-space: nowrap;
              cursor: pointer;
              line-height: 1;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
        }
        .frame-1022-4D8 {
          flex-shrink: 0;
          margin: 0.8rem 0;
          width: 12rem;
          height: calc(100% - 1.6rem);
          cursor: pointer;

          .frame-19-QGz {
            height: 100%;
            background-color: #3c9cd5;
            border-radius: 1.5rem;
            box-sizing: border-box;
            padding: 0.9rem 3.2rem 0.8rem 3.2rem;
            width: 100%;

            .cerrar-sesion-9VU {
              font-family: Roboto, 'Source Sans Pro';
              max-width: 5.6rem;
              text-align: center;
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.1725;
              color: #2f1155;
            }
          }
        }
      }
    }
  }
  .auto-group-hzgn-46e {
    flex-shrink: 0;
    margin: 0rem 40.9rem 0rem 41.194rem;
    width: calc(100% - 82.0938rem);
    height: 13.9rem;
    display: flex;
    align-items: center;

    .auto-group-muke-mmk {
      box-sizing: border-box;
      padding: 1.792rem 6.05rem 0.192rem 0rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .check-circle-iS6 {
        margin-right: 7.7438rem;
        width: 12.0125rem;
        height: 11.9156rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .el-gasto-se-dedujo-correctamente-FS2 {
        margin-bottom: 1.8rem;
        max-width: 19.9rem;
        text-align: center;
        line-height: 1.1725;
        color: #2f1155;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 500;
        letter-spacing: 0.012rem;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .b3ea9cbd6ca10a3d7766e6d2bc4cadd4-2-x5Y {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 16.2rem;
      height: 13.9rem;
    }
  }
}
