
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.meta-NRp {
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .auto-group-fjyg-vTL {
    margin-bottom: 0.9rem;
    width: 145.3rem;
    height: 11.7rem;
    position: relative;
    flex-shrink: 0;

    .nav-rrn {
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      background-color: #fbfcfc;
      width: 144rem;
      height: 0.1rem;

      .divider-1jg {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        background-color: #e6e8eb;
      }
    }
    .nav-MoY {
      align-items: center;
      display: flex;
      background-color: #fbfcfc;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      flex-direction: column;
      padding-bottom: 2rem;
      width: 144rem;
      height: 11.7rem;

      .divider-gqp {
        width: 100%;
        height: 0.1rem;
        overflow: hidden;
        position: relative;
        background-color: #e6e8eb;
        flex-shrink: 0;
        margin-bottom: 2rem;
      }
      .nav-content-EcS {
        margin: 0 16rem;
        width: calc(100% - 32rem);
        height: 7.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .left-content-Akz {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 47.1rem;
          height: 100%;

          .b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-KNz {
            vertical-align: top;
            flex-shrink: 0;
            width: 7.6rem;
            height: 7.6rem;
            cursor: pointer;
            object-fit: cover;
          }
          .auto-group-gmsa-eAN {
            display: flex;
            column-gap: 3.2rem;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.8rem 0rem 1.8rem 3.2rem;
            height: 100%;

            .divider-kz6 {
              position: relative;
              background-color: #a8aaae;
              border-radius: 0.2rem;
              flex-shrink: 0;
              width: 0.2rem;
              height: 100%;
              overflow: hidden;
            }
            .home-hPY {
              color: #2f1155;
              text-align: center;
              font-size: 1.6rem;
              line-height: 1;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
              font-weight: 700;
            }
            .estadisticas-QHx {
              cursor: pointer;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1;
              color: #2f1155;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .notificaciones-ukW {
              cursor: pointer;
              line-height: 1;
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 700;
              color: #2f1155;
              font-family: Roboto, 'Source Sans Pro';
            }
            .ajustes-r9x {
              font-size: 1.6rem;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              cursor: pointer;
              text-align: center;
              font-weight: 700;
              line-height: 1;
              color: #2f1155;
            }
          }
        }
        .frame-1022-nZQ {
          width: 12rem;
          height: calc(100% - 1.6rem);
          cursor: pointer;
          flex-shrink: 0;
          margin: 0.8rem 0;

          .frame-19-87U {
            height: 100%;
            background-color: #3c9cd5;
            border-radius: 1.5rem;
            box-sizing: border-box;
            padding: 0.9rem 3.2rem 0.8rem 3.2rem;
            width: 100%;

            .cerrar-sesion-fdC {
              color: #2f1155;
              font-family: Roboto, 'Source Sans Pro';
              max-width: 5.6rem;
              text-align: center;
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.1725;
            }
          }
        }
      }
    }
  }
  .checkout-things-to-do-mgE {
    width: 100%;
    height: 124.2rem;
    background-color: #d1d1e0;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 8rem 16rem 0rem 16rem;

    .confirm-and-pay-6iW {
      width: 100%;
      height: 100%;
      position: relative;
      background-color: #d1d1e0;

      .meta-3dk {
        letter-spacing: -0.096rem;
        left: 0;
        font-weight: 700;
        position: absolute;
        top: 0;
        font-size: 4.8rem;
        line-height: 1.1666666667;
        color: #2f1155;
        font-family: DM Sans, 'Source Sans Pro';
        width: 11.7rem;
        height: 5.6rem;
        white-space: nowrap;
      }
      .divider-ACa {
        background-color: #e6e8eb;
        width: 112.8rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 8.8rem;
        overflow: hidden;
      }
      .auto-group-mivv-6rv {
        top: 12.1rem;
        width: 112.8rem;
        height: 48.1rem;
        position: absolute;
        left: 0;

        .pay-with-SQz {
          width: 100%;
          height: 100%;
          row-gap: 4.8rem;
          display: flex;
          flex-direction: column;

          .sub-nav-BtN {
            margin-left: 0.65rem;
            height: 4rem;
            display: flex;
            column-gap: 1.6rem;
            align-items: center;
            flex-shrink: 0;

            .sub-nav-item-LFU {
              box-sizing: border-box;
              padding: 0.6rem 1.2rem;
              width: 12.8rem;
              height: 100%;
              border-radius: 10rem;
              flex-shrink: 0;

              .sub-nav-item-4SN {
                color: #2f1155;
                font-family: Roboto, 'Source Sans Pro';
                background-color: #3c9cd5;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.4rem;
                font-weight: 700;
                line-height: 1.1428571429;
                white-space: nowrap;
                border-radius: 10rem;
              }
            }
            .sub-nav-item-wm4 {
              background-color: #3c9cd5;
              display: flex;
              justify-content: center;
              font-size: 1.4rem;
              white-space: nowrap;
              border-radius: 10rem;
              width: 7.8rem;
              height: calc(100% - 1.2rem);
              color: #2f1155;
              font-family: Roboto, 'Source Sans Pro';
              line-height: 1.1428571429;
              align-items: center;
              flex-shrink: 0;
              margin: 0.6rem 0;
              font-weight: 700;
            }
            .sub-nav-item-ppr {
              box-sizing: border-box;
              padding: 0.6rem 1.2rem;
              width: 8.5rem;
              height: 100%;
              border-radius: 10rem;
              flex-shrink: 0;

              .sub-nav-item-aJE {
                height: 100%;
                display: flex;
                line-height: 1.1428571429;
                justify-content: center;
                border-radius: 10rem;
                background-color: #3c9cd5;
                width: 100%;
                font-size: 1.4rem;
                font-weight: 700;
                color: #2f1155;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                align-items: center;
              }
            }
          }
          .divider-tJv {
            width: 100%;
            height: 0.1rem;
            overflow: hidden;
            position: relative;
            background-color: #e6e8eb;
            flex-shrink: 0;
          }
          .login-info-2g2 {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .meta-PFg {
              flex-shrink: 0;
              margin-bottom: 4rem;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #2f1155;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
            .frame-832-KQE {
              row-gap: 3.2rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              width: 100%;

              .simple-input-4ci {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .escriba-su-meta-de-gasto-dQv {
                  line-height: 1;
                  font-family: Roboto, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-bottom: 1.2rem;
                  font-size: 1.2rem;
                  font-weight: 700;
                  text-transform: uppercase;
                  color: #2f1155;
                  white-space: nowrap;
                }
                .single-input-field-MLv {
                  box-sizing: border-box;
                  width: 100%;
                  height: 4.8rem;
                  overflow: hidden;
                  background-color: rgba(19, 1, 63, 0.5);
                  flex-shrink: 0;
                  padding: 1.2rem 1.6rem;
                  position: relative;
                  border-radius: 1.2rem;

                  .frame-827-gtz {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                    padding-right: 0.6rem;

                    .frame-826-EvW {
                      margin-right: 95.6rem;
                      height: 100%;
                      display: flex;
                      align-items: center;
                      flex-shrink: 0;

                      .item-999999999999-oCv {
                        font-size: 1.4rem;
                        font-weight: 500;
                        color: #ffffff;
                        font-family: Poppins, 'Source Sans Pro';
                        margin-right: 1rem;
                        display: flex;
                        line-height: 1.7142857143;
                        white-space: nowrap;
                        flex-shrink: 0;
                      }
                      .cursor-6xi {
                        width: 0.1rem;
                        height: 2.4rem;
                        background-color: #ffffff;
                        border-radius: 10rem;
                        flex-shrink: 0;
                      }
                    }
                    .icons-check-line-SWn {
                      vertical-align: top;
                      flex-shrink: 0;
                      width: 1.2rem;
                      height: 0.8rem;
                      object-fit: contain;
                    }
                  }
                }
              }
              .simple-input-knN {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .nombre-de-su-meta-KKg {
                  margin-bottom: 1.2rem;
                  font-weight: 700;
                  line-height: 1;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  font-size: 1.2rem;
                  text-transform: uppercase;
                  color: #2f1155;
                  flex-shrink: 0;
                }
                .single-input-field-r4i {
                  padding: 1.2rem 1.6rem;
                  position: relative;
                  font-weight: 500;
                  line-height: 1.7142857143;
                  white-space: nowrap;
                  background-color: rgba(19, 1, 63, 0.5);
                  box-sizing: border-box;
                  font-size: 1.4rem;
                  color: #ffffff;
                  overflow: hidden;
                  display: flex;
                  font-family: Poppins, 'Source Sans Pro';
                  border-radius: 1.2rem;
                  flex-shrink: 0;
                  width: 100%;
                }
              }
              .simple-input-93p {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .descripcion-h5L {
                  font-family: Roboto, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-bottom: 1.2rem;
                  font-size: 1.2rem;
                  font-weight: 700;
                  white-space: nowrap;
                  line-height: 1;
                  text-transform: uppercase;
                  color: #2f1155;
                }
                .single-input-field-ci6 {
                  flex-shrink: 0;
                  padding: 1.2rem 1.6rem 0rem 1.6rem;
                  width: 100%;
                  overflow: hidden;
                  position: relative;
                  background-color: rgba(19, 1, 63, 0.5);
                  box-sizing: border-box;
                  height: 4.8rem;
                  border-radius: 1.2rem;

                  .frame-1169-jni {
                    width: 10rem;
                    height: 10rem;
                    overflow: hidden;
                    position: relative;
                  }
                }
              }
            }
          }
        }
      }
      .auto-group-imrl-FWA {
        left: 0;
        top: 60.2rem;
        box-sizing: border-box;
        padding: 3.2rem 0;
        width: 112.8rem;
        height: 56rem;
        position: absolute;

        .button-BPp {
          font-weight: 700;
          white-space: nowrap;
          justify-content: center;
          align-items: center;
          background-color: #3c9cd5;
          line-height: 1;
          color: #2f1155;
          display: flex;
          border-radius: 9rem;
          margin: 0rem 100.2rem 44.8rem 0rem;
          width: 12.6rem;
          height: 4.8rem;
          text-align: center;
          font-size: 1.6rem;
          font-family: DM Sans, 'Source Sans Pro';
        }
      }
    }
  }
}
