
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.meta-confirmacion-Jsc {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-color: #d1d1e0;
  padding-bottom: 34rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  .nav-r8S {
    flex-shrink: 0;
    padding-bottom: 2rem;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #fbfcfc;
    margin-bottom: 22.3rem;
    box-sizing: border-box;
    width: 100%;
    position: relative;

    .divider-nGz {
      position: relative;
      background-color: #e6e8eb;
      flex-shrink: 0;
      margin-bottom: 2rem;
      width: 100%;
      height: 0.1rem;
      overflow: hidden;
    }
    .nav-content-8Lr {
      width: calc(100% - 32rem);
      height: 7.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0 16rem;

      .left-content-GT4 {
        margin-right: 47.1rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-dHc {
          vertical-align: top;
          flex-shrink: 0;
          width: 7.6rem;
          height: 7.6rem;
          cursor: pointer;
          object-fit: cover;
        }
        .auto-group-skwt-wJJ {
          padding: 1.8rem 0rem 1.8rem 3.2rem;
          height: 100%;
          display: flex;
          column-gap: 3.2rem;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;

          .divider-TXY {
            height: 100%;
            overflow: hidden;
            position: relative;
            background-color: #a8aaae;
            border-radius: 0.2rem;
            flex-shrink: 0;
            width: 0.2rem;
          }
          .home-zGa {
            text-align: center;
            line-height: 1;
            color: #2f1155;
            cursor: pointer;
            font-size: 1.6rem;
            font-weight: 700;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .estadisticas-vAE {
            color: #2f1155;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1;
            cursor: pointer;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .notificaciones-ec2 {
            white-space: nowrap;
            cursor: pointer;
            font-size: 1.6rem;
            line-height: 1;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            text-align: center;
            font-weight: 700;
            color: #2f1155;
          }
          .ajustes-Brr {
            font-family: Roboto, 'Source Sans Pro';
            cursor: pointer;
            font-size: 1.6rem;
            line-height: 1;
            color: #2f1155;
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-weight: 700;
          }
        }
      }
      .frame-1022-ibt {
        margin: 0.8rem 0;
        width: 12rem;
        height: calc(100% - 1.6rem);
        cursor: pointer;
        flex-shrink: 0;

        .frame-19-T3g {
          background-color: #3c9cd5;
          border-radius: 1.5rem;
          box-sizing: border-box;
          padding: 0.9rem 3.2rem 0.8rem 3.2rem;
          width: 100%;
          height: 100%;

          .cerrar-sesion-zpJ {
            text-align: center;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.1725;
            color: #2f1155;
            font-family: Roboto, 'Source Sans Pro';
            max-width: 5.6rem;
          }
        }
      }
    }
  }
  .auto-group-pekl-uRU {
    flex-shrink: 0;
    margin: 0rem 40.9rem 0rem 41.194rem;
    width: calc(100% - 82.0938rem);
    height: 13.9rem;
    display: flex;
    align-items: center;

    .auto-group-oygv-2FC {
      padding: 1.792rem 3.5rem 0.192rem 0rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;

      .check-circle-MoG {
        margin-right: 5.1938rem;
        width: 12.0125rem;
        height: 11.9156rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .su-meta-de-ahorro-se-aadio-exitosamente-6kr {
        font-weight: 500;
        margin-bottom: 1.8rem;
        text-align: center;
        font-size: 2.4rem;
        color: #2f1155;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 25rem;
        line-height: 1.1725;
        letter-spacing: 0.012rem;
      }
    }
    .b3ea9cbd6ca10a3d7766e6d2bc4cadd4-2-bBp {
      flex-shrink: 0;
      width: 16.2rem;
      height: 13.9rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
}
