
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.meta-NRp {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.meta-NRp .auto-group-fjyg-vTL {
  margin-bottom: 0.9rem;
  width: 145.3rem;
  height: 11.7rem;
  position: relative;
  flex-shrink: 0;
}
.meta-NRp .auto-group-fjyg-vTL .nav-rrn {
  width: 144rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #fbfcfc;
}
.meta-NRp .auto-group-fjyg-vTL .nav-rrn .divider-1jg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #e6e8eb;
}
.meta-NRp .auto-group-fjyg-vTL .nav-MoY {
  box-sizing: border-box;
  padding-bottom: 2rem;
  width: 144rem;
  height: 11.7rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fbfcfc;
}
.meta-NRp .auto-group-fjyg-vTL .nav-MoY .divider-gqp {
  margin-bottom: 2rem;
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
  background-color: #e6e8eb;
  flex-shrink: 0;
}
.meta-NRp .auto-group-fjyg-vTL .nav-MoY .nav-content-EcS {
  margin: 0 16rem;
  width: calc(100% - 32rem);
  height: 7.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.meta-NRp .auto-group-fjyg-vTL .nav-MoY .nav-content-EcS .left-content-Akz {
  margin-right: 47.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.meta-NRp .auto-group-fjyg-vTL .nav-MoY .nav-content-EcS .left-content-Akz .b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-KNz {
  width: 7.6rem;
  height: 7.6rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.meta-NRp .auto-group-fjyg-vTL .nav-MoY .nav-content-EcS .left-content-Akz .auto-group-gmsa-eAN {
  box-sizing: border-box;
  padding: 1.8rem 0rem 1.8rem 3.2rem;
  height: 100%;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
  flex-shrink: 0;
}
.meta-NRp .auto-group-fjyg-vTL .nav-MoY .nav-content-EcS .left-content-Akz .auto-group-gmsa-eAN .divider-kz6 {
  width: 0.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #a8aaae;
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.meta-NRp .auto-group-fjyg-vTL .nav-MoY .nav-content-EcS .left-content-Akz .auto-group-gmsa-eAN .home-hPY {
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  color: #2f1155;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.meta-NRp .auto-group-fjyg-vTL .nav-MoY .nav-content-EcS .left-content-Akz .auto-group-gmsa-eAN .estadisticas-QHx {
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  color: #2f1155;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.meta-NRp .auto-group-fjyg-vTL .nav-MoY .nav-content-EcS .left-content-Akz .auto-group-gmsa-eAN .notificaciones-ukW {
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  color: #2f1155;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.meta-NRp .auto-group-fjyg-vTL .nav-MoY .nav-content-EcS .left-content-Akz .auto-group-gmsa-eAN .ajustes-r9x {
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  color: #2f1155;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.meta-NRp .auto-group-fjyg-vTL .nav-MoY .nav-content-EcS .frame-1022-nZQ {
  margin: 0.8rem 0;
  width: 12rem;
  height: calc(100% - 1.6rem);
  cursor: pointer;
  flex-shrink: 0;
}
.meta-NRp .auto-group-fjyg-vTL .nav-MoY .nav-content-EcS .frame-1022-nZQ .frame-19-87U {
  box-sizing: border-box;
  padding: 0.9rem 3.2rem 0.8rem 3.2rem;
  width: 100%;
  height: 100%;
  background-color: #3c9cd5;
  border-radius: 1.5rem;
}
.meta-NRp .auto-group-fjyg-vTL .nav-MoY .nav-content-EcS .frame-1022-nZQ .frame-19-87U .cerrar-sesion-fdC {
  max-width: 5.6rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #2f1155;
  font-family: Roboto, 'Source Sans Pro';
}
.meta-NRp .checkout-things-to-do-mgE {
  box-sizing: border-box;
  padding: 8rem 16rem 0rem 16rem;
  width: 100%;
  height: 124.2rem;
  background-color: #d1d1e0;
  flex-shrink: 0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #d1d1e0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .meta-3dk {
  width: 11.7rem;
  height: 5.6rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: -0.096rem;
  color: #2f1155;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .divider-ACa {
  width: 112.8rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 8.8rem;
  overflow: hidden;
  background-color: #e6e8eb;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv {
  width: 112.8rem;
  height: 48.1rem;
  position: absolute;
  left: 0;
  top: 12.1rem;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz {
  width: 100%;
  height: 100%;
  row-gap: 4.8rem;
  display: flex;
  flex-direction: column;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .sub-nav-BtN {
  margin-left: 0.65rem;
  height: 4rem;
  display: flex;
  column-gap: 1.6rem;
  align-items: center;
  flex-shrink: 0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .sub-nav-BtN .sub-nav-item-LFU {
  box-sizing: border-box;
  padding: 0.6rem 1.2rem;
  width: 12.8rem;
  height: 100%;
  border-radius: 10rem;
  flex-shrink: 0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .sub-nav-BtN .sub-nav-item-LFU .sub-nav-item-4SN {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1428571429;
  color: #2f1155;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #3c9cd5;
  border-radius: 10rem;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .sub-nav-BtN .sub-nav-item-wm4 {
  margin: 0.6rem 0;
  width: 7.8rem;
  height: calc(100% - 1.2rem);
  display: flex;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1428571429;
  color: #2f1155;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #3c9cd5;
  border-radius: 10rem;
  flex-shrink: 0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .sub-nav-BtN .sub-nav-item-ppr {
  box-sizing: border-box;
  padding: 0.6rem 1.2rem;
  width: 8.5rem;
  height: 100%;
  border-radius: 10rem;
  flex-shrink: 0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .sub-nav-BtN .sub-nav-item-ppr .sub-nav-item-aJE {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1428571429;
  color: #2f1155;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #3c9cd5;
  border-radius: 10rem;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .divider-tJv {
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
  background-color: #e6e8eb;
  flex-shrink: 0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .login-info-2g2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .login-info-2g2 .meta-PFg {
  margin-bottom: 4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #2f1155;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .login-info-2g2 .frame-832-KQE {
  width: 100%;
  row-gap: 3.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .login-info-2g2 .frame-832-KQE .simple-input-4ci {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .login-info-2g2 .frame-832-KQE .simple-input-4ci .escriba-su-meta-de-gasto-dQv {
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #2f1155;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .login-info-2g2 .frame-832-KQE .simple-input-4ci .single-input-field-MLv {
  box-sizing: border-box;
  padding: 1.2rem 1.6rem;
  width: 100%;
  height: 4.8rem;
  overflow: hidden;
  position: relative;
  background-color: rgba(19, 1, 63, 0.5);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .login-info-2g2 .frame-832-KQE .simple-input-4ci .single-input-field-MLv .frame-827-gtz {
  box-sizing: border-box;
  padding-right: 0.6rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .login-info-2g2 .frame-832-KQE .simple-input-4ci .single-input-field-MLv .frame-827-gtz .frame-826-EvW {
  margin-right: 95.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .login-info-2g2 .frame-832-KQE .simple-input-4ci .single-input-field-MLv .frame-827-gtz .frame-826-EvW .item-999999999999-oCv {
  margin-right: 1rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7142857143;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .login-info-2g2 .frame-832-KQE .simple-input-4ci .single-input-field-MLv .frame-827-gtz .frame-826-EvW .cursor-6xi {
  width: 0.1rem;
  height: 2.4rem;
  background-color: #ffffff;
  border-radius: 10rem;
  flex-shrink: 0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .login-info-2g2 .frame-832-KQE .simple-input-4ci .single-input-field-MLv .frame-827-gtz .icons-check-line-SWn {
  width: 1.2rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .login-info-2g2 .frame-832-KQE .simple-input-knN {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .login-info-2g2 .frame-832-KQE .simple-input-knN .nombre-de-su-meta-KKg {
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #2f1155;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .login-info-2g2 .frame-832-KQE .simple-input-knN .single-input-field-r4i {
  box-sizing: border-box;
  padding: 1.2rem 1.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7142857143;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: rgba(19, 1, 63, 0.5);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .login-info-2g2 .frame-832-KQE .simple-input-93p {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .login-info-2g2 .frame-832-KQE .simple-input-93p .descripcion-h5L {
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #2f1155;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .login-info-2g2 .frame-832-KQE .simple-input-93p .single-input-field-ci6 {
  box-sizing: border-box;
  padding: 1.2rem 1.6rem 0rem 1.6rem;
  width: 100%;
  height: 4.8rem;
  overflow: hidden;
  position: relative;
  background-color: rgba(19, 1, 63, 0.5);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-mivv-6rv .pay-with-SQz .login-info-2g2 .frame-832-KQE .simple-input-93p .single-input-field-ci6 .frame-1169-jni {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  position: relative;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-imrl-FWA {
  box-sizing: border-box;
  padding: 3.2rem 0;
  width: 112.8rem;
  height: 56rem;
  position: absolute;
  left: 0;
  top: 60.2rem;
}
.meta-NRp .checkout-things-to-do-mgE .confirm-and-pay-6iW .auto-group-imrl-FWA .button-BPp {
  margin: 0rem 100.2rem 44.8rem 0rem;
  width: 12.6rem;
  height: 4.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  color: #2f1155;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3c9cd5;
  border-radius: 9rem;
}
