<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Desktop/log in</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="./styles/desktop-log-in.css"/>
</head>
<body>
<div class="desktop-log-in-X46">
  <div class="aside-dsp">
    <div class="auto-group-orhu-zCa">
      <div class="auto-group-4vby-VQE">
        <img class="b3ea9cbd6ca10a3d7766e6d2bc4cadd4-2-Qn6" src="./assets/b3ea9cbd6ca10a3d7766e6d2bc4cadd4-2-F1U.png"/>
        <p class="welcome-back-W4S">Welcome back!</p>
        <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-vulputate-ut-laoreet-velit-ma-Ptv">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate ut laoreet velit ma.</p>
      </div>
      <div class="auto-group-d9ar-HUW">
      </div>
    </div>
    <img class="divider-vertical-pDY" src="./assets/divider-vertical-9QN.png"/>
  </div>
  <div class="auto-group-p55t-Lxa">
    <p class="bienvenido-a-el-buho-de-bolsillo-fzr">Bienvenido a el Buho de Bolsillo</p>
    <div class="auto-group-pnan-N8a">
      <p class="registrate-con-hAr">Registrate con</p>
      <div class="google-sign-in-option-CNW">
        <img class="google-KCE" src="./assets/google.png"/>
        <p class="google-account-TJS">Google  Account</p>
      </div>
    </div>
    <div class="frame-15-XZC">
      <img class="vuesax-linear-profile-3XY" src="./assets/vuesax-linear-profile.png"/>
      <p class="username-nEE">Username</p>
    </div>
    <div class="frame-17-5UE">
      <img class="vuesax-linear-key-square-BnA" src="./assets/vuesax-linear-key-square-bbQ.png"/>
      <p class="password-KtN">Password</p>
      <img class="coco-line-eye-slash-rNW" src="./assets/coco-line-eye-slash.png"/>
    </div>
    <div class="frame-19-mEa">Iniciar Sesion</div>
    <p class="no-tienes-una-cuenta-registrate-R4E">No tienes una cuenta? Registrate</p>
  </div>
</div>
</body>