<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Desktop/Create account</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="./styles/desktop-create-account.css"/>
</head>
<body>
<div class="desktop-create-account-j7x">
  <div class="aside-8Qz">
    <div class="auto-group-jg26-w14">
      <img class="b3ea9cbd6ca10a3d7766e6d2bc4cadd4-2-oJA" src="./assets/b3ea9cbd6ca10a3d7766e6d2bc4cadd4-2.png"/>
      <div class="auto-group-4m8e-HUE">
        <p class="bienvenido-a-el-buho-de-bolsillo-C5Q">Bienvenido a el Buho de Bolsillo</p>
      </div>
      <div class="auto-group-vdk6-sBY">
        <p class="con-nosotros-podras-llebar-un-control-mas-sencillo-de-tus-finanzas-desde-los-gastos-mas-pequeos-hasta-los-que-mas-duelen-Cjc">Con nosotros podras llebar un control mas sencillo de tus finanzas. Desde los gastos mas pequeños hasta los que mas duelen.</p>
      </div>
      <div class="auto-group-wfqc-fNJ">
      </div>
    </div>
    <img class="divider-vertical-bFx" src="./assets/divider-vertical.png"/>
  </div>
  <div class="auto-group-fmge-j7G">
    <div class="auto-group-mb9t-fFp">
      <p class="toma-control-de-tus-finanzas-hoy-b9U">Toma control de tus finanzas hoy</p>
      <p class="ingresa-con-Fzi">Ingresa con</p>
      <div class="google-sign-in-option-Abt">
        <img class="google-FtE" src="./assets/google-mwY.png"/>
        <p class="google-Nxr">Google</p>
      </div>
    </div>
    <div class="frame-15-efU">
      <img class="vuesax-linear-profile-BfQ" src="./assets/vuesax-linear-profile-aAW.png"/>
      <p class="username-7Z4">Username</p>
    </div>
    <div class="frame-16-bj8">
      <img class="vuesax-linear-sms-jaS" src="./assets/vuesax-linear-sms.png"/>
      <p class="email-sge">Email</p>
    </div>
    <div class="frame-17-CD8">
      <img class="vuesax-linear-key-square-wRc" src="./assets/vuesax-linear-key-square.png"/>
      <p class="password-saA">Password</p>
    </div>
    <div class="auto-group-cezg-mfY">
      <div class="frame-19-W7L">Registrarse</div>
      <p class="si-ya-tienes-una-cuenta-inicia-sesion-ymc">Si ya tienes una cuenta, Inicia Sesion</p>
    </div>
  </div>
</div>
</body>