<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Gasto/ingreso</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A500%2C700"/>
  <link rel="stylesheet" href="./styles/gasto-ingreso.css"/>
</head>
<body>
<div class="gasto-ingreso-gVG">
  <div class="auto-group-eqe6-prN">
    <div class="nav-AvE">
      <div class="divider-v8i">
      </div>
    </div>
    <div class="nav-s3x">
      <div class="divider-1vr">
      </div>
    </div>
    <div class="nav-NmQ">
      <div class="divider-i4a">
      </div>
      <div class="nav-content-FaJ">
        <div class="left-content-PgW">
          <img class="b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-dKx" src="./assets/b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-GT4.png"/>
          <div class="auto-group-8dmk-kfU">
            <div class="divider-Gti">
            </div>
            <p class="home-chg">Home</p>
            <p class="estadisticas-Xpe">Estadisticas</p>
            <p class="notificaciones-55U">Notificaciones</p>
            <p class="ajustes-QdY">Ajustes</p>
          </div>
        </div>
        <div class="frame-1022-Yjk">
          <div class="frame-19-toc">
            <p class="cerrar-sesion-2ev">Cerrar Sesion</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="checkout-things-to-do-jZL">
    <div class="confirm-and-pay-3pv">
      <p class="ingreso-o-gasto-1Fx">Ingreso o gasto</p>
      <div class="divider-WTc">
      </div>
      <div class="auto-group-zrbp-epi">
        <div class="frame-832-PXQ">
          <div class="simple-input-iZg">
            <p class="cantidad-H6z">Cantidad</p>
            <div class="single-input-field-bNa">
              <div class="frame-827-8NW">
                <div class="frame-826-sqt">
                  <div class="item-9999999999990000-qGv">999999999999.0000</div>
                  <div class="cursor-ken">
                  </div>
                </div>
                <img class="icons-check-line-goL" src="./assets/icons-check-line-ht6.png"/>
              </div>
            </div>
          </div>
          <div class="simple-input-zJE">
            <p class="tipo-de-gasto-o-ingreso-kHQ">TIPO DE GASTO O INGRESO</p>
            <div class="single-input-field-GWe">Netflix</div>
          </div>
          <div class="simple-input-jv2">
            <p class="expiration-date-JTL">EXPIRATION DATE</p>
            <div class="single-input-field-S3k">DD/MM / YY</div>
          </div>
        </div>
      </div>
      <div class="auto-group-rdhc-iGA">
      </div>
    </div>
  </div>
</div>
</body>