<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Home Logeado</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand%3A700"/>
  <link rel="stylesheet" href="./styles/home-logeado.css"/>
</head>
<body>
<div class="home-logeado-kPt">
  <div class="nav-JRQ">
    <div class="divider-FrS">
    </div>
    <div class="nav-content-od4">
      <div class="left-content-kHQ">
        <img class="b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-WGa" src="./assets/b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-zQi.png"/>
        <div class="auto-group-4yle-qJr">
          <div class="divider-kgi">
          </div>
          <p class="home-VeJ">Home</p>
          <p class="estadisticas-SJe">Estadisticas</p>
          <p class="notificaciones-xnn">Notificaciones</p>
          <p class="ajustes-hkN">Ajustes</p>
        </div>
      </div>
      <div class="frame-1022-de2">
        <div class="frame-19-mVL">
          <p class="cerrar-sesion-WC2">Cerrar Sesion</p>
        </div>
      </div>
    </div>
  </div>
  <div class="auto-group-trqn-QoC">
    <div class="auto-group-kiu2-xZp">
      <div class="categories-gVp">
        <div class="frame-14-1HC">
          <img class="icons-user-line-9PQ" src="./assets/icons-user-line-NRx.png"/>
          <div class="perfil-HVc">Perfil</div>
        </div>
        <div class="frame-16-pkS">
          <img class="icons-credit-card-line-xre" src="./assets/icons-credit-card-line.png"/>
          <div class="aadir-gasto-o-ingreso-o6a">Añadir gasto o ingreso</div>
        </div>
        <div class="frame-20-Kai">
          <img class="icons-credit-card-line-4oC" src="./assets/icons-credit-card-line-2gz.png"/>
          <div class="aadir-meta-de-ahorro-zwk">Añadir meta de ahorro</div>
        </div>
        <div class="frame-20-vaW">
          <img class="icons-bell-line-gZg" src="./assets/icons-bell-line-seS.png"/>
          <div class="aadir-evento-DZc">Añadir evento</div>
        </div>
      </div>
      <div class="auto-group-pmbq-5ri">
        <img class="ellipse-24-Di2" src="./assets/ellipse-24-Uta.png"/>
        <div class="rectangle-1-x9p">
        </div>
        <img class="info-section--Utr" src="./assets/info-section--NzN.png"/>
        <p class="mabank-2Qa">Mabank</p>
        <p class="card-LRG">Card</p>
        <p class="item-1234-rPc">$ 1.234</p>
        <p class="balance-xhY">Balance</p>
      </div>
    </div>
    <div class="last-transaction-section-Uft">
      <div class="auto-group-asmq-1A2">
        <p class="ultimos-gastos-wpN">Ultimos Gastos</p>
        <p class="view-all-Gbk">View All</p>
      </div>
      <div class="frame-4-nKC">
        <div class="group-16-wC6">
          <div class="group-12-J2e">
            <img class="netflix-EBC" src="./assets/netflix.png"/>
          </div>
          <div class="transactions-1-Lzv">
            <div class="auto-group-ik98-sV4">
              <p class="netflix-pv6">Netflix</p>
              <p class="item-12-NAv">$12</p>
            </div>
            <p class="month-subscription-hiz">Month subscription</p>
          </div>
        </div>
        <div class="auto-group-77is-EU2">
          <div class="group-15-mD4">
            <img class="paypal-logo-uKG" src="./assets/paypal-logo.png"/>
            <div class="transactions-2-F8E">
              <div class="auto-group-tp74-zLi">
                <p class="paypal-k4z">Paypal</p>
                <p class="item-10-fBx">$10</p>
              </div>
              <p class="tax-nXU">Tax</p>
            </div>
          </div>
          <div class="group-14-XV4">
            <div class="group-13-GhY">
              <img class="group-4-QYr" src="./assets/group-4.png"/>
            </div>
            <div class="transactions-3-8Dx">
              <div class="auto-group-fgux-rfk">
                <p class="paylater-QxA">Paylater</p>
                <p class="item-2-Z4N">$2</p>
              </div>
              <p class="buy-item-J1x">Buy item</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-content-pkz">
      <div class="left-content-NGi">
        <img class="b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-j7G" src="./assets/b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-F62.png"/>
        <div class="auto-group-zfji-FrJ">
          <div class="divider-nrE">
          </div>
          <p class="home-jWa">Home</p>
          <p class="estadisticas-ff8">Estadisticas</p>
          <p class="notificaciones-oWS">Notificaciones</p>
        </div>
      </div>
      <div class="frame-19-YD8">Log out</div>
    </div>
  </div>
</div>
</body>