<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Meta</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A500"/>
  <link rel="stylesheet" href="./styles/meta.css"/>
</head>
<body>
<div class="meta-NRp">
  <div class="auto-group-fjyg-vTL">
    <div class="nav-rrn">
      <div class="divider-1jg">
      </div>
    </div>
    <div class="nav-MoY">
      <div class="divider-gqp">
      </div>
      <div class="nav-content-EcS">
        <div class="left-content-Akz">
          <img class="b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-KNz" src="./assets/b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-wm4.png"/>
          <div class="auto-group-gmsa-eAN">
            <div class="divider-kz6">
            </div>
            <p class="home-hPY">Home</p>
            <p class="estadisticas-QHx">Estadisticas</p>
            <p class="notificaciones-ukW">Notificaciones</p>
            <p class="ajustes-r9x">Ajustes</p>
          </div>
        </div>
        <div class="frame-1022-nZQ">
          <div class="frame-19-87U">
            <p class="cerrar-sesion-fdC">Cerrar Sesion</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="checkout-things-to-do-mgE">
    <div class="confirm-and-pay-6iW">
      <p class="meta-3dk">Meta</p>
      <div class="divider-ACa">
      </div>
      <div class="auto-group-mivv-6rv">
        <div class="pay-with-SQz">
          <div class="sub-nav-BtN">
            <div class="sub-nav-item-LFU">
              <div class="sub-nav-item-4SN">Semanal</div>
            </div>
            <div class="sub-nav-item-wm4">Mensual</div>
            <div class="sub-nav-item-ppr">
              <div class="sub-nav-item-aJE">Anual</div>
            </div>
          </div>
          <div class="divider-tJv">
          </div>
          <div class="login-info-2g2">
            <p class="meta-PFg">Meta</p>
            <div class="frame-832-KQE">
              <div class="simple-input-4ci">
                <p class="escriba-su-meta-de-gasto-dQv">Escriba su meta de gasto</p>
                <div class="single-input-field-MLv">
                  <div class="frame-827-gtz">
                    <div class="frame-826-EvW">
                      <div class="item-999999999999-oCv">9999999999.99</div>
                      <div class="cursor-6xi">
                      </div>
                    </div>
                    <img class="icons-check-line-SWn" src="./assets/icons-check-line.png"/>
                  </div>
                </div>
              </div>
              <div class="simple-input-knN">
                <p class="nombre-de-su-meta-KKg">Nombre de su meta</p>
                <div class="single-input-field-r4i">Comprar frijoles</div>
              </div>
              <div class="simple-input-93p">
                <p class="descripcion-h5L">Descripcion</p>
                <div class="single-input-field-ci6">
                  <div class="frame-1169-jni">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="auto-group-imrl-FWA">
        <div class="button-BPp">Confirmar</div>
      </div>
    </div>
  </div>
</div>
</body>