<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Desktop/Home</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/desktop-home.css"/>
</head>
<body>
<div class="desktop-home-rPt">
  <div class="nav-m14">
    <div class="nav-content-trN">
      <div class="left-content-cGa">
        <img class="b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-Zhc" src="./assets/b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-dKG.png"/>
        <div class="auto-group-urua-tE6">
          <div class="divider-PwY">
          </div>
          <p class="home-EKt">Home</p>
          <p class="estadisticas-k3L">Estadisticas</p>
          <p class="notificaciones-5bQ">Notificaciones</p>
          <p class="ajustes-Cvv">Ajustes</p>
        </div>
      </div>
      <div class="auto-group-gnot-8pa">
        <div class="frame-19-4iE">Login</div>
        <div class="frame-1022-L9x">
          <div class="frame-19-gjc">Register</div>
        </div>
      </div>
    </div>
    <div class="divider-PP8">
    </div>
  </div>
  <div class="auto-group-myae-usG">
    <div class="auto-group-f8dq-SsC">
      <div class="auto-group-z4sk-aTc">
        <div class="auto-group-frij-hHL">
          <p class="bienvenido-a-el-buho-de-bolsillo-3c6">Bienvenido a el Buho de Bolsillo </p>
          <div class="dots-kFc">
            <img class="dot-GUr" src="./assets/dot-Uee.png"/>
            <img class="dot-RMk" src="./assets/dot-jbx.png"/>
            <img class="dot-mgW" src="./assets/dot-88J.png"/>
            <img class="dot-XQn" src="./assets/dot-hKp.png"/>
            <img class="dot-5BQ" src="./assets/dot.png"/>
          </div>
        </div>
        <p class="con-nosotros-podras-llebar-un-control-mas-sencillo-de-tus-finanzas-desde-los-gastos-mas-pequeos-hasta-los-que-mas-duelen-ch8">Con nosotros podras llebar un control mas sencillo de tus finanzas. Desde los gastos mas pequeños hasta los que mas duelen.</p>
      </div>
      <img class="b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-VF8" src="./assets/b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-iiv.png"/>
    </div>
    <div class="button-Dwp">
      <span class="button-Dwp-sub-0">Comienza</span>
      <span class="button-Dwp-sub-1"> </span>
      <span class="button-Dwp-sub-2">Ahora</span>
    </div>
  </div>
</div>
</body>