<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>evento agregado</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C700"/>
  <link rel="stylesheet" href="./styles/evento-agregado.css"/>
</head>
<body>
<div class="evento-agregado-ciN">
  <div class="auto-group-irvr-9yC">
    <div class="nav-gy8">
      <div class="divider-dtN">
      </div>
      <div class="nav-content-ySS">
        <div class="left-content-KWJ">
          <img class="b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-sXp" src="./assets/b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-bFp.png"/>
          <div class="auto-group-srwn-CKC">
            <div class="divider-uUW">
            </div>
            <p class="home-FYN">Home</p>
            <p class="estadisticas-nYJ">Estadisticas</p>
            <p class="notificaciones-L42">Notificaciones</p>
            <p class="ajustes-UR8">Ajustes</p>
          </div>
        </div>
        <div class="frame-1022-QZg">
          <div class="frame-19-ZBg">
            <p class="cerrar-sesion-W6v">Cerrar Sesion</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="auto-group-8v3y-RUn">
    <div class="auto-group-meg2-YZQ">
      <img class="check-circle-tNN" src="./assets/check-circle-sWA.png"/>
      <p class="su-evento-fue-aadido-correctamente-q2i">Su evento  fue añadido correctamente</p>
    </div>
    <img class="b3ea9cbd6ca10a3d7766e6d2bc4cadd4-2-8Gi" src="./assets/b3ea9cbd6ca10a3d7766e6d2bc4cadd4-2-hKQ.png"/>
  </div>
</div>
</body>