<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Evento</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A700"/>
  <link rel="stylesheet" href="./styles/evento.css"/>
</head>
<body>
<div class="evento-WJE">
  <div class="checkout-things-to-do-efL">
    <div class="confirm-and-pay-kCa">
      <p class="evento-u5U">Evento</p>
      <div class="divider-bU6">
      </div>
      <div class="auto-group-8jk2-Kut">
        <div class="pay-with-fTx">
          <div class="divider-QgS">
          </div>
          <div class="frame-832-wgN">
            <div class="simple-input-6JN">
              <p class="nombre-del-evento-Fh4">Nombre del Evento</p>
              <div class="single-input-field-Mzz">
                <div class="frame-827-6hg">
                  <div class="pagar-la-uca-qvA">Pagar la uca</div>
                  <img class="icons-check-line-ABk" src="./assets/icons-check-line-K8v.png"/>
                </div>
              </div>
            </div>
            <div class="simple-input-feJ">
              <p class="descripcion-ESW">Descripcion</p>
              <div class="single-input-field-kfk">Primera mensualida</div>
            </div>
            <div class="simple-input-3Px">
              <p class="expiration-date-bgN">EXPIRATION DATE</p>
              <div class="single-input-field-Y5p">DD/MM / YY</div>
            </div>
          </div>
        </div>
      </div>
      <div class="auto-group-wwrc-DBx">
        <div class="button-wdk">Confirmar</div>
      </div>
    </div>
  </div>
  <div class="nav-CJn">
    <div class="divider-MBg">
    </div>
  </div>
  <div class="nav-Jci">
    <div class="divider-Qve">
    </div>
    <div class="nav-content-9tE">
      <div class="left-content-UvW">
        <img class="b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-Een" src="./assets/b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-56A.png"/>
        <div class="auto-group-jyv2-kt2">
          <div class="divider-59c">
          </div>
          <p class="home-Dmc">Home</p>
          <p class="estadisticas-xDQ">Estadisticas</p>
          <p class="notificaciones-HmU">Notificaciones</p>
          <p class="ajustes-dKY">Ajustes</p>
        </div>
      </div>
      <div class="frame-1022-N2E">
        <div class="frame-19-WPL">
          <p class="cerrar-sesion-Fbp">Cerrar Sesion</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>