<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Gasto deducido</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C700"/>
  <link rel="stylesheet" href="./styles/gasto-deducido.css"/>
</head>
<body>
<div class="gasto-deducido-rBc">
  <div class="auto-group-fvjt-nqx">
    <div class="nav-vxA">
      <div class="divider-UTt">
      </div>
      <div class="nav-content-R8E">
        <div class="left-content-mC6">
          <img class="b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-KUW" src="./assets/b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-inE.png"/>
          <div class="auto-group-ewq6-Sp2">
            <div class="divider-y3G">
            </div>
            <p class="home-K78">Home</p>
            <p class="estadisticas-SxS">Estadisticas</p>
            <p class="notificaciones-Bf8">Notificaciones</p>
            <p class="ajustes-8KU">Ajustes</p>
          </div>
        </div>
        <div class="frame-1022-4D8">
          <div class="frame-19-QGz">
            <p class="cerrar-sesion-9VU">Cerrar Sesion</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="auto-group-hzgn-46e">
    <div class="auto-group-muke-mmk">
      <img class="check-circle-iS6" src="./assets/check-circle.png"/>
      <p class="el-gasto-se-dedujo-correctamente-FS2">El gasto se dedujo correctamente </p>
    </div>
    <img class="b3ea9cbd6ca10a3d7766e6d2bc4cadd4-2-x5Y" src="./assets/b3ea9cbd6ca10a3d7766e6d2bc4cadd4-2-UBU.png"/>
  </div>
</div>
</body>