<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Ingreso agregado</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C700"/>
  <link rel="stylesheet" href="./styles/ingreso-agregado.css"/>
</head>
<body>
<div class="ingreso-agregado-wfY">
  <div class="auto-group-3ae6-gt2">
    <div class="nav-2BC">
      <div class="divider-B46">
      </div>
      <div class="nav-content-8EE">
        <div class="left-content-sSi">
          <img class="b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-RUE" src="./assets/b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-ZYv.png"/>
          <div class="auto-group-wnve-9v2">
            <div class="divider-GUr">
            </div>
            <p class="home-Qqx">Home</p>
            <p class="estadisticas-kQ2">Estadisticas</p>
            <p class="notificaciones-Her">Notificaciones</p>
            <p class="ajustes-2cS">Ajustes</p>
          </div>
        </div>
        <div class="frame-1022-wjQ">
          <div class="frame-19-tPk">
            <p class="cerrar-sesion-2kr">Cerrar Sesion</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="auto-group-vdgn-LWe">
    <div class="auto-group-emc6-4hY">
      <img class="check-circle-16z" src="./assets/check-circle-sdk.png"/>
      <p class="el-monto-se-agrego-exitosamente-jHt">El monto se agrego exitosamente</p>
    </div>
    <img class="b3ea9cbd6ca10a3d7766e6d2bc4cadd4-2-SCJ" src="./assets/b3ea9cbd6ca10a3d7766e6d2bc4cadd4-2-z98.png"/>
  </div>
</div>
</body>