<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>meta confirmacion</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C700"/>
  <link rel="stylesheet" href="./styles/meta-confirmacion.css"/>
</head>
<body>
<div class="meta-confirmacion-Jsc">
  <div class="nav-r8S">
    <div class="divider-nGz">
    </div>
    <div class="nav-content-8Lr">
      <div class="left-content-GT4">
        <img class="b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-dHc" src="./assets/b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-c9g.png"/>
        <div class="auto-group-skwt-wJJ">
          <div class="divider-TXY">
          </div>
          <p class="home-zGa">Home</p>
          <p class="estadisticas-vAE">Estadisticas</p>
          <p class="notificaciones-ec2">Notificaciones</p>
          <p class="ajustes-Brr">Ajustes</p>
        </div>
      </div>
      <div class="frame-1022-ibt">
        <div class="frame-19-T3g">
          <p class="cerrar-sesion-zpJ">Cerrar Sesion</p>
        </div>
      </div>
    </div>
  </div>
  <div class="auto-group-pekl-uRU">
    <div class="auto-group-oygv-2FC">
      <img class="check-circle-MoG" src="./assets/check-circle-P8E.png"/>
      <p class="su-meta-de-ahorro-se-aadio-exitosamente-6kr">Su meta de ahorro se añadio exitosamente</p>
    </div>
    <img class="b3ea9cbd6ca10a3d7766e6d2bc4cadd4-2-bBp" src="./assets/b3ea9cbd6ca10a3d7766e6d2bc4cadd4-2-H6r.png"/>
  </div>
</div>
</body>