<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Notification</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand%3A500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A500%2C700"/>
  <link rel="stylesheet" href="./styles/notification.css"/>
</head>
<body>
<div class="notification-jBx">
  <div class="nav-Fvz">
    <div class="divider-zNn">
    </div>
    <div class="nav-content-XtW">
      <div class="left-content-sSa">
        <img class="b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-E2E" src="./assets/b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-fmk.png"/>
        <div class="auto-group-mxer-xU2">
          <div class="divider-sqt">
          </div>
          <p class="home-Der">Home</p>
          <p class="estadisticas-9Hc">Estadisticas</p>
          <p class="notificaciones-Uan">Notificaciones</p>
          <p class="ajustes-DHU">Ajustes</p>
        </div>
      </div>
      <div class="frame-1022-kHQ">
        <div class="frame-19-5qU">
          <p class="cerrar-sesion-dMC">Cerrar Sesion</p>
        </div>
      </div>
    </div>
  </div>
  <p class="new-XhU">New</p>
  <div class="auto-group-mzu4-f2z">
    <div class="group-22-n7c">
      <p class="june-2021-714-pm-6tz">
        <span class="june-2021-714-pm-6tz-sub-0">29 June 2021, 7.</span>
        <span class="june-2021-714-pm-6tz-sub-1">14</span>
        <span class="june-2021-714-pm-6tz-sub-2"> PM</span>
      </p>
      <div class="auto-group-sdtv-6vv">
        <div class="auto-group-vzua-exS">
          <p class="you-received-rp-100000-from-alexandr-gibson-jogja-oaS">You received Rp 100.000 from Alexandr Gibson Jogja</p>
          <p class="pay-debt-HEi">‘Pay debt’</p>
        </div>
        <img class="coco-line-arrow-top-xre" src="./assets/coco-line-arrow-top.png"/>
      </div>
    </div>
    <div class="group-23-qvS">
      <p class="june-2021-902-am-ZrS">29 June 2021, 9.02 AM</p>
      <div class="auto-group-8shu-gAN">
        <p class="you-spent-rp-32000-for-coffe-cetar-back-tugu-sentral-R7x">You spent Rp 32.000 for Coffe Cetar back Tugu Sentral</p>
        <img class="coco-line-arrow-bottom-7Fg" src="./assets/coco-line-arrow-bottom-XJr.png"/>
      </div>
      <p class="buy-drink-qSa">‘Buy drink’</p>
    </div>
    <p class="recent-Kce">Recent</p>
    <div class="group-24-SSN">
      <p class="june-2021-832-pm-mUe">28 June 2021, 8.32 PM</p>
      <div class="auto-group-ykmg-6G2">
        <p class="you-spent-rp-210000-for-pay-tokosbla-ijo-mera-San">You spent Rp 210.000 for pay Tokosbla ijo mera</p>
        <img class="coco-line-arrow-bottom-k5g" src="./assets/coco-line-arrow-bottom.png"/>
      </div>
      <p class="buy-items-svz">‘Buy items’</p>
    </div>
    <div class="group-25-Zop">
      <p class="june-2021-832-pm-6Hx">28 June 2021, 8.32 PM</p>
      <div class="auto-group-ndvr-zu8">
        <p class="you-spent-rp-210000-for-pay-tokosbla-ijo-mera-Yve">You spent Rp 210.000 for pay Tokosbla ijo mera</p>
        <img class="coco-line-arrow-bottom-quk" src="./assets/coco-line-arrow-bottom-wgn.png"/>
      </div>
      <p class="buy-items-asL">‘Buy items’</p>
    </div>
    <div class="group-26-srS">
      <p class="june-2021-832-pm-ozz">28 June 2021, 8.32 PM</p>
      <div class="auto-group-sixj-w5c">
        <p class="you-spent-rp-210000-for-pay-tokosbla-ijo-mera-UrE">You spent Rp 210.000 for pay Tokosbla ijo mera</p>
        <img class="coco-line-arrow-bottom-BVk" src="./assets/coco-line-arrow-bottom-kqg.png"/>
      </div>
      <p class="buy-items-L7k">‘Buy items’</p>
    </div>
  </div>
</div>
</body>