<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Personal info</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik%3A500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand%3A500"/>
  <link rel="stylesheet" href="./styles/personal-info.css"/>
</head>
<body>
<div class="personal-info-3ES">
  <div class="desktop-my-payments-A4A">
    <div class="nav-Gst">
      <div class="divider-S1g">
      </div>
    </div>
    <div class="profile-setting-Ng2">
      <div class="payment-methods-WXL">
        <div class="auto-group-4rqw-drr">
          <div class="categories-kga">
            <div class="frame-14-Dq4">
              <img class="icons-user-line-YMY" src="./assets/icons-user-line.png"/>
              <div class="profile-5MU">Profile</div>
            </div>
            <div class="frame-16-bqc">
              <img class="icons-credit-card-line-jwp" src="./assets/icons-credit-card-line-MLW.png"/>
              <div class="aadir-gasto-o-ingreso-faa">Añadir gasto o ingreso</div>
            </div>
            <div class="frame-20-Nzn">
              <img class="icons-credit-card-line-8DG" src="./assets/icons-credit-card-line-S2W.png"/>
              <div class="aadir-meta-de-ahorro-4ci">Añadir meta de ahorro</div>
            </div>
            <div class="frame-20-bMk">
              <img class="icons-bell-line-9PG" src="./assets/icons-bell-line.png"/>
              <div class="aadir-evento-gtz">Añadir evento</div>
            </div>
          </div>
          <div class="frame-1168-xLi">
            <p class="personal-info-VbY">Personal info</p>
            <div class="input-text-fields-DGe">
              <div class="account-info-xzv">
                <p class="account-info-u9U">Account info</p>
                <div class="frame-1165-SQJ">
                  <div class="simple-input-amQ">
                    <p class="usuario-XAr">usuario</p>
                    <div class="single-input-field-4An">0000025@uca.edu.sv</div>
                  </div>
                  <div class="simple-input-j22">
                    <p class="nombre-completo-tQi">Nombre completo</p>
                    <div class="single-input-field-d7Q">Pedrito Juan Lopez Rosado</div>
                  </div>
                </div>
                <div class="simple-input-tp2">
                  <p class="email-rkr">email</p>
                  <div class="single-input-field-zcA">0000025@uca.edu.sv</div>
                </div>
              </div>
              <div class="divider-5Ni">
              </div>
            </div>
          </div>
        </div>
        <div class="auto-group-udun-RBg">
          <img class="mask-group-Yn6" src="./assets/mask-group.png"/>
        </div>
        <div class="auto-group-pa4s-f62">
          <p class="jaka-nwL">Jaka</p>
          <img class="vuesax-linear-edit-2-v1x" src="./assets/vuesax-linear-edit-2.png"/>
        </div>
        <p class="change-eTk">change</p>
      </div>
    </div>
    <div class="divider-xDY">
    </div>
  </div>
  <div class="nav-7ML">
    <div class="divider-2z6">
    </div>
    <div class="nav-content-yuL">
      <div class="left-content-KiJ">
        <img class="b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-GdY" src="./assets/b3ea9cbd6ca10a3d7766e6d2bc4cadd4-1-27t.png"/>
        <div class="auto-group-tqhc-z3k">
          <div class="divider-Jq8">
          </div>
          <p class="home-FkN">Home</p>
          <p class="estadisticas-o1C">Estadisticas</p>
          <p class="notificaciones-hsG">Notificaciones</p>
          <p class="ajustes-2uY">Ajustes</p>
        </div>
      </div>
      <div class="frame-1022-Z8n">
        <div class="frame-19-hEz">
          <p class="cerrar-sesion-SCa">Cerrar Sesion</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>